<div class="users_item_div">
  <div class="">
    <%= render_head_image_30(user) %>
    <!-- <%= gravatar_tag user.email, :size => 50, :default => avatar_url %> -->
  </div>
  <div class="">
    <%= link_to(user.name, exhibition_profile_account_user_path(user)  )%>
  </div>
</div>
