<div class="row">
  <div class="col-md-2 col-md-offset-3">
      <div style="padding-top:30px;">
        <div class="pull-left" style="margin-right:20px;">
            <img src="/index/icon_key.png"/>
        </div>
        <div class="pull-left">
          <strong><span class="about-us-font">知识变现</span><br/></strong>
          <span>留学多年，宝贵的知识<br/>
            可以大量变现哦！</span>
        </div>
      </div>
  </div>

  <div class="col-md-2">
      <div style="padding-top:30px;">
        <div class="pull-left" style="margin-right:20px;">
            <img src="/index/icon_up.png"/>
        </div>
        <div class="pull-left">
          <strong><span class="about-us-font">提高声誉</span><br/></strong>
          <span>分享带来声望，认识学弟<br/>
          学妹，做个留学网红.</span>
        </div>
      </div>
  </div>

  <div class="col-md-2">
      <div style="padding-top:30px;">
        <div class="pull-left" style="margin-right:20px;">
            <img src="/index/icon_light.png"/>
        </div>
        <div class="pull-left">
          <strong><span class="about-us-font">收支透明</span><br/></strong>
          <span>账户余额快速提现，<br/>
          安全有保障。</span>
        </div>
      </div>
  </div>
</div>
