<section class="banner">
  <div class="banner dark-bg">
    <img src="/logo.png" class="logo"/>
    <!-- <img src="http://www.shangyutang.com.cn/images/banner2.jpg", style="width:100%" /> -->

    <div class="banner-font">
      <div class="line"></div>
      <h1>学霸在线</h1>
      <h3>提高声誉，即刻赚钱</h3>
    </div>

    <div class="search-bar">
      <%= render "questions/search_bar" %>
    </div>

  </div>
</section>
