<section class="banner">
  <div class="banner banner-image">
    <img src="index/banner1.jpg", class="banner-image" />
  </div>
  <div class="banner dark-bg">
    <img src="/logo.png" class="logo"/>
    <div class="banner-font">
      <div class="line"></div>
      <h1>学霸在线</h1>
      <h3>提高声誉，即刻赚钱</h3>
    </div>

    <!-- 添加searchbar -->
    <div class="search-bar">
      <%= render "questions/search_bar" %>
    </div>
  </div>
</section>
