<section class="bottom-banner hidden-xs" style="background:url(index/bottom-banner.jpeg) center;">

    <div class="bottom-banner-font col-md-4 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-10 col-xs-offset-0">
      <h3>我是La Trobe University 的學生, 暑假後升讀year 2。</h3>
      <h4>从挑学校到最终拿到offer,花费了很多不必要的时间和金钱。<br/>
      现在把自己的经验分享出来，帮助学弟学妹少走弯路。</h4>
      <%= link_to('马上提问', new_question_path, class: "btn btn-lg btn-danger")  %>
    </div>

</section>
