
<div class="container section-title">
  <div class="row picture-center">
    <div class="col-md-2 col-md-offset-3 col-sm-3 col-sm-offset-1  col-xs-3">
      <img src="/index/leafing-left.png"/>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <strong><span class="text-danger" style="font-size:18px">最热悬赏问题</span></strong>
    </div>
    <div class="col-md-2 col-sm-3 col-xs-3">
      <img src="/index/leafing-right.png"/>
    </div>
  </div>
</div>
