<div class="container">
  <div class="row picture-center hidden-sm">
      <div class=" hidden-sm hidden-xs">
          <div class="pull-left">
            <img src="/replyer1.png"/>
            <div class="picture-mask">
              <%= link_to("成为学霸",new_user_registration_path) %>
            </div>
          </div>
          <div class="pull-left">
            <img src="/replyer2.png"/>
          </div>
          <div class="pull-left">
              <img src="/replyer3.png"/>
          </div>
          <div class="pull-left">
              <img src="/replyer4.png"/>
          </div>

      </div>
  </div>
</div>
