<div class="container">
  <div class="row hidden-sm">
      <div class="picture-center hidden-sm hidden-xs">
          <img src="/replyer1.png"/>
          <img src="/replyer2.png"/>
          <img src="/replyer3.png"/>
          <img src="/replyer4.png"/>
      </div>
  </div>
</div>
