<div class="container-fluid">

<div class="col-lg-12">


  <section class="banner">

    <div class="banner dark-bg">
      <!-- <img src="http://www.shangyutang.com.cn/images/banner2.jpg", style="width:100%" /> -->

      <div class="container container-font">
        <div class="line">

        </div>
        <h1>学长在线</h1>
        <h3>独享成功秘笈，成就名校梦想</h3>
      </div>
    </div>
  </section>
  <!-- 图片列表 -->
  <section>
    <div class="col-md-3"></div>
    <div class="col-md-7">
      <div class="image-container">
        <img src="/replyer1.png"/>
        <img src="/replyer1.png"/>
        <img src="/replyer1.png"/>
        <img src="/replyer1.png"/>
      </div>
    </div>
    <div class="col-md-2">

    </div>
  </section>
  <!-- 我们的优势 -->
  <section>
        <div class="row" >

            <div class="col-lg-3 col-lg-offset-3">
              <div class="col-md-2">
                <img src="/index/icon_key.png" style="margin-right:20px"/>
              </div>
              <div class="row" >
                <strong><span>ABOUT US</span><br/></strong>
                <div style="margin:10px">去除中介，学长直连</div>
              </div>
            </div>

            <div class="col-lg-3 pull-left">
              <div class="col-md-2">
                <img src="/index/icon_key.png" style="margin-right:20px"/>
              </div>
              <div class="row">
                <strong><span>ABOUT US</span><br/></strong>
                <div style="margin-top:10px">去除中介，学长直连</div>
              </div>
            </div>

          </div>
      </div>

  </section>
</div>
</div>
