<div class="container-fluid">

  <section class="banner">

    <div class="banner dark-bg">
      <!-- <img src="http://www.shangyutang.com.cn/images/banner2.jpg", style="width:100%" /> -->

      <div class="container container-font">
        <div class="line">

        </div>
        <h1>学长在线</h1>
        <h3>独享成功秘笈，成就名校梦想</h3>
      </div>
    </div>
  </section>

<div class="row">

  <div class="col-md-2 col-md-offset-2">
      <img src="/replyer1.png"/>
      <br />
      <div style="padding-top:20px;">

        <div class="pull-left" style="margin-right:20px;">
            <img src="/index/icon_key.png"/>
        </div>
        <div class="pull-left">
          <strong><span>ABOUT US</span><br/></strong>
          <span>去除中介，学长直连</span>
        </div>
      </div>

  </div>

  <div class="col-md-2">
      <img src="/replyer1.png"/>

  </div>


  <div class="col-md-2">
      <img src="/replyer1.png"/>

  </div>


  <div class="col-md-2">
      <img src="/replyer1.png"/>

  </div>


</div>
