<a href="http://localhost:3000/account/users/3/exhibition_profile">test</a>

<%= render "banner" %>

<%= render "picture_list" %>

<div style="height:30px"></div>

<%= render "about_us" %>

<%= render "question_list" %>
