

    <% if @invitated_questions.size==0 %>
      <div class="panel-body">
        <span class="label label-default">暂时没有邀请</span>
      </div>
    <% else %>

    <div>
      <ul class="list-group index-ul">
        <%= render :partial => "/account/questions/each_invitated_q", :collection => @invitated_questions, :as => :invitated_question %>
      </ul>

      <div class="text-center">
        <%= will_paginate @invitated_questions, renderer: BootstrapPagination::Rails %>
      </div>
    </div>


    <% end %>
