<div class="col-md-8">
  <div class="total clearfix">
      <span class="pull-right">
        <%= link_to '返回', account_questions_path, class: "btn btn-primary btn-xs" %>
      </span>
    </div>

    <h3>我要提问</h3>

    <hr>

    <%= render "form" %>


</div>
