<div class="total clearfix">
    <span style="font-size:18px">我要提问</span>
    <span class="pull-right">
        <%= link_to '返回', account_questions_path, class: "btn btn-primary btn-xs" %>
      </span>
    </div>

    <hr>

    <%= render "form" %>
