<div class="hidden-xs">
  <video autoplay loop id="bgvid">
      <source src="index/bgv.mp4" type="video/mp4" style="top:0;">
    </video>
</div>
<div class="banner-image hidden-md hidden-lg visible-xs" style="background:url(index/banner_v1.jpg) center no-repeat; background-size:cover">
</div>

<div class="banner-mask">
  <div class="container">
    <!-- 右侧注册div -->
    <div class="" style="margin-top:100px">
      <%= render "register_index"%>
      <%= render "login_index" %>
    </div>

    <!-- 左侧文字 -->
    <div class="pull-left">
      <p class="banner-font">欢迎使用海外学霸在线。</p>
      <p class="banner-font-subtitle">现在注册，立送1000积分，还不快来。</p>
      <%= link_to('马上提问', new_question_path, class: "btn btn-lg btn-primary pull-right")  %>
    </div>

  <div class="search-bar-index">
    <%= render "welcome_v1/search_bar_index" %>
  </div>
</div>
