<section class="bottom-banner body-text" style="background:url(index/bottom-banner.jpeg) center;">
    <div class="container">
    <div class="bottom-banner-background col-md-4">
      <p class="bottom-banner-title">我是Tina，就读于 La Trobe University, 暑假後升讀 Year 2。</p>
      <p class="bottom-banner-sub-title">从挑学校到最终拿到offer,花费了很多不必要的时间和金钱。现在把自己的经验分享出来，帮助学弟学妹少走弯路</p>
      <p><%= link_to('马上提问', new_account_question_path, class: "btn btn-primary pull-right")  %></p>
    </div>
  </div>
</section>
