// Place all the styles related to the account::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-nav{
  padding:10px 10px 10px 30px;
  margin: 0 0 20px 20px;
  border: 1px;
  border-style: solid;
  border-color: #dedede;
}
