<div class="col-md-1"></div>
<div class="col-md-6">
  <ul>
    <li><img src="https://app.unbouncepreview.com/publish/assets/e072e7e4-e184-44fa-8bf3-be2be299912b/263/394/232/278/5/51/7dec9437-student-1_07b0ay06g07q00501f.png" alt="">
    </li>
  </ul>
</div>
