<div class="card hovercard" style="border-top-width:2px;">
  <div class="info">
    <div class="col-md-3 col-xs-3 col-sm-3 desc desc-normal">
      <div class="pull-left" >
        <%= gravatar_tag current_user.email, :size => 25, :default => avatar_url %>
      </div>
      <p class="account-nav-bar-p">提问</p>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 desc desc-normal">
      <p class="account-nav-bar-p">回答</p>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 desc">
      <p class="account-nav-bar-p">写文章</p>
    </div>
  </div>
</div>
<%= render "account/users/new_question" %>

<%= render "account/users/index_questions" %>
