<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="card hovercard">
  <div class="info">
    <div class="col-md-3 col-xs-3 col-sm-3 desc desc-normal">
      <p><%= @user.questions.size %></p>
      <p>问题</p>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 desc desc-normal">
      <p><%= @user.answers.size %></p>
      <p>回答</p>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 desc desc-normal">
      <p><%= @user.followees.size %></p>
      <p>关注</p>
    </div>
    <div class="col-md-3 col-xs-3 col-sm-3 desc desc-last">
      <p><%= @user.fans_num %></p>
      <p>粉丝</p>
    </div>
  </div>
</div>
