<div class="index-line">
  <div class="dropdown clearfix pull-right">

     <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
       排序
      <span class="caret"></span>
     </button>
      <%= render "account/questions/sort_tag_replyer" %>
  </div>

  <%= render "account/users/user_tags" %>
</div>

<div>
  <ul class="list-group index-ul">
    <%= render :partial => "/account/questions/each_question", :collection => @refer_questions, :as => :question %>
  </ul>
  <div class="text-center">
    <%= will_paginate @refer_questions, renderer: BootstrapPagination::Rails %>
  </div>
</div>
