<!-- Modal -->
<%= simple_form_for [:account,@question] do |f| %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">请选择支付方式</h4>
      </div>
      <div class="modal-body">
        <%= f.input :payment_method, collection: [["支付宝", "<i class='fa fa-credit-card-alt' aria-hidden='true'></i> &nbsp 支付宝".html_safe], ["微信支付", "<i class='fa fa-weixin' aria-hidden='true'></i> &nbsp 微信".html_safe]], value_method: :first, label_method: :last, as: :radio_buttons, label: false, checked: "支付宝", item_wrapper_class: "radio-inline set-margin-top-10px" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <span class="special">
          <%= f.button :submit,value:"确认支付",class: "btn btn-primary btn-sm" %>
        </span>
      </div>
    </div>
  </div>
</div>
<% end %>
