<ul class="nav nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
    <li class="active"><%= link_to("立即提问",new_question_path) %> </li>
    <li class="active"><%= link_to("添加关注","#") %> </li>
</ul>
