<ul class="nav nav-pills nav-stacked" style="padding-left: 30px">
  <li><%= active_link_to " 首页", show_profile_account_user_path(current_user), class: "fa fa-file-o" %></li>
  <hr />
  <li><%= active_link_to " 提问", new_account_question_path(current_user),class: "fa fa-question-circle-o" %></li>
  <li><%= active_link_to " 热门学霸", replyers_account_users_path,class: "fa fa-truck" %></li>
  <li><%= active_link_to " 问题广场", account_questions_path, class: "fa fa-list" %></li>
</ul>
