  <ul class="nav nav-pills nav-stacked" style="padding-left: 30px">
    <li><%= active_link_to " 提问", new_account_question_path(current_user),class: "fa fa-question-circle-o" %></li>
    <li><%= active_link_to " 学霸广场", replyers_account_users_path,class: "fa fa-truck" %></li>
  </ul>
