<div class="" style="margin-bottom:25px;">
  <% current_user.tags.each do |tag| %>
      <% path = reply_account_user_path(current_user,tag_name: tag.name) %>
      <label style="margin-right:15px" id="myTags" onclick="getList('<%=path%>','nav_1')">我的标签: <%= tag.name %></label>
      <%#= link_to(tag.name,reply_account_user_path(current_user,tag_name: tag.name),class: "btn btn-default btn-sm") %>
  <% end %>
</div>


<script type="text/javascript">
  function getList(path,id){
    var content = "";
    $.ajax({
      url: path,
      method: "get",
      data: {query_type: id},
      dataType: "json",
      success: function(data){
        $(".index-ul").html();
        showTabContent(id, data)
      }
    });
  }

  function showTabContent(){ (id, data) {
    content = "<table class='table table-stripe'> <thead><th>#</th><th>项目名称</th><th>项目合计募得金额</th><th>项目待支付金额</th><th>账单生成时间</th><th>操作</th></thead><tbody>"
    $.each(data, function(index, item) {
      content += "<tr>" +
        "<td>" + (index + 1) + "</td>" +
        "<td>"  + item.project_name +
        render_bill_state(item) +  "</td>" +
        "<td> ¥" + item.amount + "</td>" +
        "<td>" + render_fund_rate(item.amount) + "</td>" +
        "<td>" + item.created_at  + "</td>" +
        "<td>" + render_payment_button(item.bill_status, item.project_id)
      "</td></tr>";
    })
      content += "</tbody></table>"

    $("#" + id).append(content); }
</script>
