<div class="user-nav-bg">
  <table>
    <tr>
      <td>
        <%= link_to("提问",new_account_question_path) %>
      </td>
      <td>
        <%= link_to("回答",account_answers_path) %>
      </td>
      <td>
        <%= link_to("写文章",account_blogs_path) %>
      </td>
    </tr>
  </table>
</div>
<%= render "account/users/user_tags" %>
