<div class="user-nav-bg">
  <table>
    <tr>
      <td>
          <%= render_head_image_30(current_user) %>
      </td>
      <td>
        <%= active_link_to("快速提问",show_profile_account_user_path(current_user)) %>
      </td>
      <td>
        <%= active_link_to("发现悬赏问题",reply_account_user_path(current_user)) %>
      </td>
      <!-- <td>
        <%#= link_to("写文章",account_blogs_path) %>
      </td> -->
    </tr>
  </table>
</div>
