<div class="nav col-md-3 col-xs-12 pull-left user-nav">

  <ul class="nav nav-pills">
    <li><%= gravatar_tag current_user.email, :size => 30, :default => avatar_url %></li>
    <li><%= link_to("提问",new_account_question_path) %></li>
    <li><%= link_to("回答",account_answers_path) %></li>

  </ul>
</div>
