<div class="" style="margin-bottom:25px;">
  <% current_user.tags.each do |tag| %>
      <label style="margin-right:15px">我的标签:</label>
      <%= link_to(tag.name,reply_account_user_path(current_user,tag_name: tag.name),class: "btn btn-default btn-sm") %>
  <% end %>
</div>
