  <ul class="nav nav-pills nav-stacked" style="padding-left: 30px">
    <li><%= active_link_to " 提问", new_question_path(current_user),class: "fa fa-question-circle-o" %></li>
    <!-- <li><%= active_link_to new_question_path(current_user) do %>
    <i class="fa fa-question-circle-o" aria-hidden="true" style="margin-right:15px"> 提问</i><% end %></li> -->
    <li><%= active_link_to " 学霸广场", replyers_account_users_path,class: "fa fa-truck" %></li>
  </ul>
