<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#tab1"  data-toggle="tab">我关注的人</a></li>
  <li role="presentation"><a href="#tab2" data-toggle="tab">关注我的人</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="tab1"><%= render "followees" %></div>
  <div class="tab-pane fade" id="tab2"><%= render "followers" %></div>
</div>
