<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#my_questions"  data-toggle="tab">我的问题</a></li>
  <li role="presentation"><a href="#my_answers" data-toggle="tab">我的回答</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="my_questions"><%= render "my_questions" %></div>
  <div class="tab-pane fade" id="my_answers"><%= render "my_answers" %></div>
</div>
