<div>
  <ul class="list-group index-ul">
    <%= render partial: 'account/users/each_answer_subs', collection: @answer_subscriptions, as: :answer %>
  </ul>
  <div class="text-center">
    <%= will_paginate @answer_subscriptions, renderer: BootstrapPagination::Rails %>
  </div>
</div>
