<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#tab1"  data-toggle="tab">账户充值</a></li>
  <li role="presentation"><a href="#tab2" data-toggle="tab">账户提现</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="tab1"><%= render "deposit_edit" %></div>
  <div class="tab-pane fade" id="tab2"><%= render "withdraw_edit" %></div>
</div>
