<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
    <h3>我要回答</h3>
    <h4><%= @question.title %></h4>
    <span><%= sanitize(@question.description) %></span>
    <hr>
    <%= render "form" %>

    <!-- <div class="total clearfix"> -->
        <!-- <span class="pull-right">
          <%#= link_to '返回', answers_path %>
          <%#= link_to '返回', question_answers_path(@question) %>
        </span> -->
      <!-- </div> -->
</div>

<%= render 'question_info_sidebar' %>

<!-- <h1>New Answer</h1>

<!%= render 'form', answer: @answer %>

<!%= link_to 'Back', answers_path %> -->
