<div class="col-md-8">
    <h3>我要回答</h3>

    <hr>

    <%= render "form" %>

    <div class="total clearfix">
        <span class="pull-right">
          <%= link_to '返回', account_answers_path %>
        </span>
      </div>
</div>
