/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 *= require font-awesome
 *= require questions
 *= require simditor
 *= require answers
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "semantic-ui";
@import "trix";

mark{ background:yellow }

html,body{
    height: 100%;
    width: 100%;
    background-color:#f3f3f3;
    //background-image: url(/crossword.png);
}

#wrap{
  min-height: 100%;

  position:relative;
  // padding-bottom 是footer的高度，当footer变化时需要相应改变
  padding-bottom:153px;
}

.invitated_users_answer{ border-bottom: 1px solid #999;}

.navbar-bg{
  margin: 0px;
  border-color: transparent;
}

.footer-bg{
  padding: 35px 0 20px 0;
  background-color: #333333;
  position:absolute;
  bottom:0px;
  width: 100%;
  margin: 0;
}
.footer-font{
  text-align: center;
  color:white;
  font-size: 18px;
}

.footer-font-list{
  text-align: center;
  color:#00eaef;
  font-size: 14px;
  margin: 10px 30px;
}

.footer-font-copyright{
  text-align: center;
  color:#6f6f6f;
  font-size: 12px;
}

.footer-index-bg{
  padding: 35px 0 20px 0;
  background-color: #333333;
  position:relative;
  bottom:0px;
  width: 100%;
  margin:0px;
  border-radius: 0;
}

.paginate{
  padding: 5px 20px;
  background-color: #4285f4;
  width: 30%;
}

.pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    color: #fff;
    background-color: #4285f4;
}

.pagination > li > a, .pagination > li > span {
    color: #4285f4;
}
.profile_image_100{
  height: 100px;
  width: 100px;
}

.profile_image_30{
  height: 30px;
  width: 30px;
}
