// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.questions-search-form{
  margin-top: 15px;
  padding: 3px 10px;
}

.users_item_div{
  float: left;margin-left:15px;
}

.item_div{margin:15px 15px 15px 0;}

.btn-right-bottom{margin:0 15px 15px 0;}

.answer-time{
  padding: 5px 10px;
  margin: 5px 15px;
  background-color: #eee;
}

.answer-like-stats{
  padding: 5px 10px;
  margin: 5px 15px;
  margin-left: 50px;
}

small.small-tips{
  padding: 2px 5px;
  margin: 2px 6px;
  background-color: #777;
  color: white;
}

.owner-border{
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 10px;
}
.account-nav-bar{  }
.account-nav-bar-p {line-height: 2em;font-size: 14px;}
.index-line{ height:35px;border-bottom:1px solid #ccc;margin:0 0 15px 0; }

.index-ul li {margin-bottom: 12px; border:1px solid #e5e5e5; border-left:0.5em solid #4285f4;background-color: #fff;}

.index-ul .btn-primary {
    background-color: #4285f4;
    border-color: transparent;
    padding: 4px 16px;
    margin-left:15px;
    border-radius: 4px;
}

.index-ul .btn-default {
  border-color: #4285f4;
  padding: 4px 16px;
  border-radius: 4px;
}

.special {
    margin-left:15px;
    float: left;
}
.special-size {
    width:150px;
    height: 37px;
}

.panel-default {padding-bottom: 50px}

.form-actions input{
    margin-left:15px;
}

.special .btn-primary {
    background-color: #4285f4;
    border-color: transparent;
    padding: 4px 20px;
    border-radius: 4px;
}
