// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.questions-search-form{
  margin-top: 15px;
}

.users_item_div{
  float: left;margin-left:15px;
}

.item_div{margin:15px 15px 15px 0;}

.btn-right-bottom{margin:0 15px 15px 0;}

.answer-time{
  padding: 5px 10px;
  margin: 5px 15px;
  background-color: #eee;
}

.answer-like-stats{
  padding: 5px 10px;
  margin: 5px 15px;
  margin-left: 50px;
}

small.small-tips{
  padding: 2px 5px;
  margin: 2px 6px;
  background-color: #777;
  color: white;
}

.owner-border{
  border: 2px solid #eee;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 10px;
}
