// Place all the styles related to the welcome_test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#lp-pom-block-8-color-overlay {
    position: absolute;
    background: rgba(4,28,58,0.7);
    height: 397px;
    width: 100%;
}
