<li class="list-group-item" style="padding:1em">
  <%= link_to tag.name, account_tag_path(tag) %>

  <span class="label label-success" style="padding: .2em .3em .2em;margin-left:1em;"><%= tag.taggings_count %></span>
  <div class="pull-right">
    <%= link_to "取消",cancel_account_tag_path(tag),method: :post,class:"btn btn-default btn-xs",data: { confirm: '确定要取消么?' } %>
  </div>
</li>
