<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default ">
      <% if @tag.nil? %>
        <div class="panel-body">
          <span class="label label-default">快来添加感兴趣的标签吧～</span>
        </div>
      <% else %>
        <div class="panel-heading">
          <h4 class="panel-title">我感兴趣的标签～</h4>
        </div>

        <div class="panel-body">
          <span class="label label-info"><%= @tag.name %> </span>
          <span class="pull-right">
            <%= link_to "取消", account_tag_path(@tag),class:"btn btn-default btn-xs" %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
