<%#= render "navbar_v1" %>
<%#= render "faq_banner" %>
<div class="apply-hero text-center">
  <div class="title">
    <h1>常见问答</h1>
  </div>
</div>
<div style="postion:relative;text-align:left;">
  <div class="row">
    <div class="col-md-6 col-md-offset-3  ">
      <h3>Q:这里的留学信息真实么？</h3>
      <p>网站上的回答者都是身在国外的学长、学姐，他们有一手的学校信息和当地情况，这可不是国内中介能够了解的信息（国内中介都在瞎说八道，每年都跟学生说一样的话）。</p>
      <h3>Q:我为什么要付钱询问这些信息？</h3>
      <p>身在国外的学长学姐也是很忙的，尤其是Top Schools的学生们。他们了解的项目信息是很有价值的，而且很少会画时间整理给别人，如果没有报酬的话。我们认为，这些信息值得付费购买。</p>
      <h3>Q:这里的学长学姐都来自什么学校？</h3>
      <p>学长学姐在注册时都使用校园邮箱，比如<a encode="hex" href="mailto:sujie@stanford.edu">sujie@stanford.edu</a>，因此我们能够确认对方的学校。</p>
      <h3>Q:我提的问题会有人回答么？</h3>
      <p>提问的悬赏金额越高，回答的人数越多。<br>
      另外，使用邀请功能，我们会通知学长、学姐前来回答。如果他们觉得你的问题值得回答（主要看悬赏，哈哈），你可以在问题的状态中看到有学长、学姐接受了邀请。</p>
      <h3>Q:回答的质量如何？</h3>
      <p>我们的奖励机制会促使学长学姐给出更精彩的回答，因为只有最精彩的答案才会得到赞赏。<br>
      另外，你可以对收到的回答进行追问，得到更多你想要的内容。</p>
      <h3>Q:如果没人回答，我可以refund么？</h3>
      <p>如果在一定期限内没有人回答，我们会自动退款给你。</p>
    </div>
  </div>
</div>
