<div class="" style="float:left">
  <%= render template:"/account/users/replyers" %>
</div>
<div class="col-md-10">
  <%= link_to('立即进入', show_profile_account_user_path(current_user), class: "btn btn-lg btn-danger")  %>
</div>
