<footer class="navbar footer-bg">

    <div class="navbar-header col-md-4 col-md-offset-4" style="text-align:center">
      <a class="footer-font" href="/">
        <span>OnlineAsk</span>
        <span style="margin:0px 3px">|</span>
        <span>学霸在线，用知识换取金钱。</span>

      </a>
    </div>

    <div class="navbar-header col-md-6 col-md-offset-3" style="text-align:center">
        <br />
        <%= link_to("About us","#",class:"footer-font-list") %>
        <%= link_to("Contact us","#",class:"footer-font-list") %>
        <%= link_to("Apps","#",class:"footer-font-list") %>
    </div>
    <div class="navbar-header col-md-6 col-md-offset-3 footer-font-copyright">
      <br />
      Copyright ©2016 OnlineAsk
    </div>

</footer>
