<footer class="navbar footer-index-bg">

    <div class="navbar-header col-md-4 col-md-offset-4" style="text-align:center">
      <a class="footer-font" href="/">
        <span style="color:#FFF;letter-spacing: 3px;">Online<span style="color:#4285f4;";>Ask</span></span>
        <span style="margin:0px 3px">|</span>
        <span style="color:#FFF;letter-spacing: 3px;">学霸在线，用知识换取金钱。</span>

      </a>
    </div>

    <div class="navbar-header col-md-6 col-md-offset-3" style="text-align:center">
        <br />
        <%= link_to("About us", about_guides_path ,class:"footer-font-list") %>
        <%= link_to("Contact us", contact_guides_path ,class:"footer-font-list") %>
        <%= link_to("FAQ", faq_guides_path ,class:"footer-font-list") %>
    </div>
    <div class="navbar-header col-md-6 col-md-offset-3 footer-font-copyright">
      <br />
      <span style="letter-spacing: 2px;">Copyright ©2016 OnlineAsk</span>
    </div>


</footer>
